.btnA{
    inline-size: 8vw;
    block-size: 8vw;
    border-radius: 50%;
    background: rgb(9, 9, 205);
    color: wwhite;
    box-shadow: 1px 1px rgb(2, 2, 135),
                2px 2px rgb(2, 2, 135),
                3px 3px rgb(2, 2, 135),
                4px 4px rgb(2, 2, 135),
                5px 5px rgb(2, 2, 135);
}
.btnA:hover{
    background: rgb(92, 92, 210);
    color: wwhite;
    box-shadow: 0px 0px 50px 25px rgb(92, 92, 210),
                1px 1px rgb(2, 2, 135),
                2px 2px rgb(2, 2, 135),
                3px 3px rgb(2, 2, 135),
                4px 4px rgb(2, 2, 135),
                5px 5px rgb(2, 2, 135);
}
.btnB{
    inline-size: 8vw;
    block-size: 8vw;
    border-radius: 50%;
    background: rgb(104, 19, 160);
    color: wwhite;
    box-shadow: 1px 1px rgb(72, 1, 117),
                2px 2px rgb(72, 1, 117),
                3px 3px rgb(72, 1, 117),
                4px 4px rgb(72, 1, 117),
                5px 5px rgb(72, 1, 117);
}
.btnB:hover{
    inline-size: 8vw;
    block-size: 8vw;
    border-radius: 50%;
    background: rgb(131, 66, 174);
    color: wwhite;
    box-shadow: 0px 0px 50px 25px rgb(131, 66, 174),
                1px 1px rgb(72, 1, 117),
                2px 2px rgb(72, 1, 117),
                3px 3px rgb(72, 1, 117),
                4px 4px rgb(72, 1, 117),
                5px 5px rgb(72, 1, 117);
}
.btnC{
    inline-size: 8vw;
    block-size: 8vw;
    border-radius: 50%;
    background: rgb(19, 160, 19);
    color: wwhite;
    box-shadow: 1px 1px rgb(1, 117, 1),
                2px 2px rgb(1, 117, 1),
                3px 3px rgb(1, 117, 1),
                4px 4px rgb(1, 117, 1),
                5px 5px rgb(1, 117, 1);
}
.btnC:hover{
    inline-size: 8vw;
    block-size: 8vw;
    border-radius: 50%;
    background: rgb(80, 183, 80);
    color: wwhite;
    box-shadow: 0px 0px 50px 25px rgb(80, 183, 80),
                1px 1px rgb(1, 117, 1),
                2px 2px rgb(1, 117, 1),
                3px 3px rgb(1, 117, 1),
                4px 4px rgb(1, 117, 1),
                5px 5px rgb(1, 117, 1);
}
.btnD{
    inline-size: 8vw;
    block-size: 8vw;
    border-radius: 50%;
    background: rgb(191, 191, 1); 
    color: wwhite;
    box-shadow: 1px 1px rgb(98, 98, 1),
                2px 2px rgb(98, 98, 1),
                3px 3px rgb(98, 98, 1),
                4px 4px rgb(98, 98, 1),
                5px 5px rgb(98, 98, 1);
}
.btnD:hover{
    inline-size: 8vw;
    block-size: 8vw;
    border-radius: 50%;
    background: rgb(183, 183, 54); 
    color: wwhite;
    box-shadow: 0px 0px 50px 25px rgb(183, 183, 54),
                1px 1px rgb(98, 98, 1),
                2px 2px rgb(98, 98, 1),
                3px 3px rgb(98, 98, 1),
                4px 4px rgb(98, 98, 1),
                5px 5px rgb(98, 98, 1);
}

.wrapper{
    inline-size: 100%;
    block-size: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border: 2px solid grey;
    padding: 2vw;
}
.vraag{
    inline-size: 60vw;
    block-size: 10vw;
    background:grey;
    padding: 5vw
}
.knoppen{
    block-size: 10vw;
    inline-size: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
